/**
 * iWiki skin
 *
 * Web page style sheet
 *
 * @author Adam Demasi
 * @url http://mediawiki.org/wiki/Manual:Gallery_of_user_styles/iWiki
 * @copyright Skin is copyright of Adam Demasi. iPhone, iPod touch and iPad are copyright Apple.
 * @ingroup Skins
 */
html,body{
	font:12pt "Helvetica Neue",HelveticaNeue,Helvetica,sans-serif;
	margin:0;
	padding:0;
}
#siteSub,#jump-to-nav,.printfooter{
	display:none;
}
a.new,#p-personal a.new,a.new:visited,#p-personal a.new:visited{
	color:#ba0000!important;
}
#bodyContent h1,#bodyContent h2,#bodyContent h3,
#bodyContent h4,#bodyContent h5,#bodyContent h6{
	background:none;
	font-weight:normal;
	margin:0;
	padding-top:.5em;
	padding-bottom:.17em;
}
h1{
	font-size:188%;
}
h1 .editsection{
	font-size:53%;
}
h2{
	font-size:150%;
}
h2 .editsection{
	font-size:67%;
}
h3,h4,h5,h6{
	border-bottom:none;
	font-weight:bold;
}
h3{
	font-size:132%;
}
h3 .editsection{
	font-size:76%;
	font-weight:normal;
}
h4{
	font-size:116%;
}
h4 .editsection{
	font-size:86%;
	font-weight:normal;
}
h5{
	font-size:100%;
}
h5 .editsection{
	font-weight:normal;
}
h6{
	font-size:80%;
}
h6 .editsection{
	font-size:125%;
	font-weight:normal;
}
ul{
	line-height:1.5em;
	list-style-type:square;
	margin:.3em 0 0 1.5em;
	padding:0;
	list-style-image:url(bullet.gif);
}
ol{
	line-height:1.5em;
	margin:.3em 0 0 3.2em;
	padding:0;
	list-style-image:none;
}
li{
	margin-bottom:.1em;
}
dt{
	font-weight:bold;
	margin-bottom:.1em;
}
dl{
	margin-top:.2em;
	margin-bottom:.5em;
}
dd{
	line-height:1.5em;
	margin-left:2em;
	margin-bottom:.1em;
}
fieldset{
	border:1px solid #2f6fab;
	margin:1em 0 1em 0;
	padding:0 1em 1em;
	line-height:1.5em;
}
fieldset.nested{
	margin:0 0 0.5em 0;
	padding:0 0.5em 0.5em;
}
legend{
	padding:.5em;
	font-size:95%;
}
form{
	border:none;
	margin:0;
}
textarea{
	width:100%;
	padding:.1em;
}
input.historysubmit{
	padding:0 .3em .3em .3em !important;
	font-size:94%;
	cursor:pointer;
	height:1.7em !important;
	margin-left:1.6em;
}
select{
	vertical-align:top;
}
abbr,acronym,.explain{
	border-bottom:1px dotted black;
	background:none;
	cursor:help;
}
q,blockquote{
	font-family:Times,"Times New Roman",serif;
	font-style:italic;
}
code{
	background-color:#f9f9f9;
}
pre{
	padding:1em;
	border:1px dashed #2f6fab;
	color:black;
	background-color:#f9f9f9;
	line-height:1.1em;
}
#bodyContent a.external,
#bodyContent a.external[href ^="gopher://"]{
	background-image:url(external.png);
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:10px;
}
#bodyContent .plainlinks a.external{
	background-image:none;
	padding:0;
}
#preftoc{
	margin:0;
	padding:0;
	width:100%;
	clear:both;
}
legend{
	color:#0046D6!important;
	font-size:8pt!important;
	font-weight:normal!important;
}
#preftoc li{
	display:inline;
}
#preftoc li.selected{
	font-weight:bold;
}
#prefcontrol{
	padding-top:2em;
	clear:both;
}
#preferences{
	margin:0;
	border:1px solid #aaa;
	clear:both;
	padding:1.5em;
	background-color:#F8F8F6;
}
.prefsection{
	border:none;
	padding:0;
	margin:0;
}
.prefsection fieldset{
	border:1px solid #aaa;
	float:left;
	margin-right:2em;
}
.prefsection legend{
	font-weight:bold;	 
}
.prefsection table,.prefsection legend{
	background-color:#F8F8F6;
}
.mainLegend{
	display:none;
}
div.prefsectiontip{
	font-size:x-small;
	padding:.2em 2em;
	color:#666;
}
.btnSavePrefs{
	font-weight:bold;
	padding-left:.3em;
	padding-right:.3em;
}
.preferences-login{
	clear:both;
	margin-bottom:1.5em;
}
.prefcache{
	font-size:90%;
	margin-top:2em;
}
div#userloginForm form,
div#userlogin form#userlogin2{
	margin:0 3em 1em 0;
	border:1px solid #aaa;
	clear:both;
	padding:1.5em 2em;
	background-color:#f9f9f9;
	float:left;
}
.rtl div#userloginForm form,
.rtl div#userlogin form#userlogin2{
	float:right;
}
div#userloginForm table,
div#userlogin form#userlogin2 table{
	background-color:#f9f9f9;
}
div#userloginForm h2,
div#userlogin form#userlogin2 h2{
	padding-top:0;
}
div#userlogin .captcha,
div#userloginForm .captcha{
	border:1px solid #bbb;
	padding:1.5em 2em;
	background-color:white;
}
#loginend,#signupend{
	clear:both;
}
#userloginprompt,#languagelinks{
	font-size:85%;
}
#login-sectiontip{
	font-size:85%;
	line-height:1.2;
	padding-top:2em;
}
#userlogin .loginText,#userlogin .loginPassword{
	width:12em;
}
#userloginlink a,#wpLoginattempt,#wpCreateaccount{
	font-weight:bold;
}
#pageContent{
	margin:5px;
}
#catlinks{
	clear:both;
	margin-top:10px;
	border-top:1px solid #aaaaaa;
}
#p-search .pBody {
	text-align:center;
}
#mw-searchButton{
	-webkit-appearance:none;
	border-width:0;
	margin:0;
	padding:0;
	background:transparent;
	width:100%;
	font-size:14px;
	text-align:left;
	font-weight:bold;
}
#f-poweredbyico,#f-copyrightico{
	float:right;
	margin:10px;
}
#f-poweredbyico img,#f-copyrightico img{
	background-color:white;
}
#footer,#footer a{
	font-size:9pt;
	text-align:center;
}
#f-list li{
	display:inline;
	margin-right:15px;
}
#p-cactions{
	background-color:#bfc3cb;
	border-bottom:1px solid #aaa;
	padding:0;
	margin:0;
	text-align:center;
}
#p-cactions h5{
	display:none;
}
#p-cactions li,#p-cactions a{
	display:inline;
	margin:1px;
	padding:5px;
}
#p-cactions span.selected,#p-cactions a:hover,#p-cactions a:active{
	font-weight:bold;
}
#wikiPreview{
	height:500px;
	float:right;
}
#wpTextbox1{
	height:500px;
	float:left;
	width:50%;
	font:12pt sans-serif;
}
#wpMailmypassword{
	font-size:8pt;
	float:right;
}
#footer{
	margin:0;
	padding:0;
}
#f-list *{
	display:inline!important;
	font-size:12px;
	border-width:0!important;
}
#bodyContent,#footer,#f-list{
	margin:8px;
}
#content{
	padding:0;
	padding-bottom:8px;
	margin:0;
}

@media all and (min-device-width: 480px){
	#column-one-link,#column-content-link{
		display:none;
	}
	#column-one{
		position:absolute;
		top:0;
		left:0;
		width:300px;
		border-right:1px solid black;
		z-index:15;
		display:block!important;
	}
	#column-content{
		background:transparent;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		z-index:1;
	}
	#content{
		margin-left:300px;
	}
	#column-one,#content{
		background:rgb(197,204,211) url(jqtouch/themes/apple/img/pinstripes.png)!important;
	}
}
